<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" id="title-line" href="/">Dictionary + Logs</a>
    </nav>
    <p class="tag">A place where you can log your thoughts with your own dictionary</p>
    </div>
</header>