<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1">Dictionary + Logs</a>
            <form id="search" class="d-flex">
                <input type="text" id="s-word"  class="form-control me-2" name="s-data" size="12" placeholder="Enter Word" aria-label="Search"><br>
                <input class="btn btn-outline-success" type="submit" id="s-btn" value="Press ENTER">
            </form>
    </nav>
    </div>
</header>