<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1">Dictionary + Logs</a>

    </nav>
    <p>A place where you can log your thoughts into your on dictionary</p>
    </div>
</header>