<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Dictionary + Logs</span>
                <div class="btn-group" role="group">
                    <a href="/user/index"><button type="button" class="btn btn-primary btn-sm">Search Word</button></a>
                    <a href="/user/logout"><button type="button" class="btn btn-primary btn-sm">Logout</button></a>
                </div>
        </nav>
    </header>
</body>