<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" id="title-line">Dictionary + Logs</span>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="user/signup"><button type="button"
                                class="btn btn-primary">Create Account</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/login"><button type="button"
                                class="btn btn-primary">Login</button></a>
                    </li>
                </ul>
            </div>
            <br><span class="tag-line">A place where you can log your thoughts with your own dictionary</span>
        </nav>
    </header>
    <form id="search">
        <input type="text" id="s-word" name="s-data" size="12" placeholder="Enter Word"><br>
        <input type="submit" id="s-btn" value="Press ENTER">
    </form>
    <div id="main-container">
        <div id="search-word"></div>
        <div id="pos-phonetics"></div>
        <div id="def-title"></div>
        <div id="definition"></div>
    </div>
</body>

</html>