<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/user/login" method="post">
          <fieldset  class="mb-3">
            <legend>User Login</legend>
            <label class="form-label"
              >USERNAME: <input type="text" name="username" class="form-control" required />
            </label>
            <label class="form-label"
              >PASSWORD: <input type="password" name="password"  class="form-control" required />
            </label>
            <input type="submit" value="Login" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>